{% load static %}
<html>
  <head> 
     <title>About</title>
     <link rel="stylesheet" href="{% static 'nav.css' %}">
  </head>
<body>
    <nav>
<img src="{% static 'images/logo.jpg' %}" height="100px" style="float:left;">
        <div class="search-box">
   <form action="search" method="get">
<input type="text" class="search" placeholder="search..." name="srch"></input>
<button class="search-image">
<img src="{% static 'icons/search.png' %}" class="search-image"/></button>
    </form></div>
        <ul>  
               <li><a href="/">Home</a></li>
               {% if user.is_authenticated %}
               <li><a href="#">Hi,{{user.first_name}}</a></li>
               <li><a href="account/logout">Logout</a></li>
               {% else %}
               <li><a href="account/login">Login</a></li>
               <li><a href="account/register">Register</a></li>
               {% endif %}
               <li><a href="sell/post">Sell</a></li>
               <li><a href="about">About</a></li>
               <li><a href="contact">Contact Us</a></li>
       </ul>
     </nav><br>
               <div class="container">


                  <div class="content" style=" border:1px solid black;padding:20px;border-radius:5px;min-height:200px;><span style="font-size:20px;"><b>About:</b></span><br>
                              <center><br><br><br>
                                   This project is created by <b>Utkarsh Kushwaha</b><br></center>
            </div>  
<br><br><br><br><br><br>
<div class="footer">
      <ul class="footer-links">
               <li><a href="https://www.facebook.com/AnimalAidUnlimited"><img class="icons" src="{% static 'icons/facebook.png' %}" /></a></li>
               <li><a href=""><img class="icons" src="{% static 'icons/twitter.png' %}" /></a></li>
               <li><a href=""><img class="icons" src="{% static 'icons/g+.png' %}" /></a></li>
               <li><a href="https://www.youtube.com/channel/UC4kyYTypYb3mQ6ZL25kly6g"><img class="icons" src="{% static 'icons/youtube.png' %}" /></a></li>
               <li><a href="https://www.instagram.com/animalaid_india/"><img class="icons" src="{% static 'icons/insta.png' %}" /></a></li>
      </ul><br><br>
          <div class="icons-div">
      <ul class="footer-about">
               <li><a href="/">Home</a></li>
               {% if user.is_authenticated %}
                 <li><a href="account/logout">Logout</a></li>
               {% else %}
                <li><a href="account/login">Login</a></li>
                <li><a href="account/register">Register</a></li>
               {% endif %}
               <li><a href="/about">About</a></li>
               <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</div>
</body>
</html>
