{% load static %}
{% static "images" as baseUrl %}
<html>
  <head> 
     <title>Home</title>
     <link rel="stylesheet" href="{% static 'nav.css' %}">
     <style>
               .bt{  width:180px;
                     border:2px solid white;
                     padding:5px;
                 }
     .bt:hover{
                 opacity:0.5;
                }
     .bt:active{
                 opacity:0.5;
                }
     

   </style>
  </head>
<body>
    <nav style="position:absolute;">
      <img src="{% static 'images/logo.jpg' %}" height="100px" style="float:left;">
        <div class="search-box">
   <form action="search" method="get">
<input type="text" class="search" placeholder="search..." name="srch"></input>
<button class="search-image">
<img src="{% static 'icons/search.png' %}" class="search-image"/></button>
    </form></div>
        <ul>  
               <li><a href="/">Home</a></li>
               {% if user.is_authenticated %}
               <li><a href="#">Hi,{{user.first_name}}</a></li>
               <li><a href="account/logout">Logout</a></li>
               {% else %}
               <li><a href="account/login">Login</a></li>
               <li><a href="account/register">Register</a></li>
               {% endif %}
               <li><a href="sell/post">Sell</a></li>
               <li><a href="about">About</a></li>
               <li><a href="contact">Contact Us</a></li>
       </ul>
     </nav><br>
               <div class="container" >
 
                    <div class="sidenav"><b>&nbsp;&nbsp;&nbsp;&nbsp;<img  height="15px" width="15px" src="{% static 'icons/filter.png' %}"/>&nbsp;&nbsp;Price filter</b><br>
  <form action="price_filter" method="get">
                     <input type="hidden" value=5000 name="fltr"></input><button class="bt" name="a">below &#x20b9;5,000</button></form>

   <form action="price_filter" method="get"> 
       <input type="hidden" value=10000 name="fltr"> <button class="bt">&#x20b9;5,000-&#x20b9;10,000</button> </form>
   <form action="price_filter" method="get">   <input type="hidden" value=15000 name="fltr"> <button class="bt">&#x20b9;10,000-&#x20b9;15,000</button> </form>
  <form action="price_filter" method="get">     <input type="hidden" value=20000 name="fltr">  <button class="bt">above &#x20b9;15,000</button> </form>
</div>
   
                  <div class="content" style="margin-right:150px;">
      {% for pet in pets %}
<div class="catal" ><div class="andr"><img class="im" src="{{pet.img.url}}"/>
    {% if pet.adpt %}
<img class="adpt" src="{% static 'images/adpt.jpg' %}"/>
     {% endif %}
</div><br><b>{{pet.petname}}</b><br><br><b>Price:&#x20b9;{{pet.price}}</b><br><br><b>Category:{{pet.category}}</b></div>
{% empty %} 
  <span>No search results found</span>
      {% endfor %}                                       
                    </div>
<br><br>
        </div>     
<br><br><br><br><br><br>
             
<div class="footer">
      <ul class="footer-links">
               <li><a href="https://www.facebook.com/AnimalAidUnlimited"><img class="icons" src="{% static 'icons/facebook.png' %}" /></a></li>
               <li><a href=""><img class="icons" src="{% static 'icons/twitter.png' %}" /></a></li>
               <li><a href=""><img class="icons" src="{% static 'icons/g+.png' %}" /></a></li>
               <li><a href="https://www.youtube.com/channel/UC4kyYTypYb3mQ6ZL25kly6g"><img class="icons" src="{% static 'icons/youtube.png' %}" /></a></li>
               <li><a href="https://www.instagram.com/animalaid_india/"><img class="icons" src="{% static 'icons/insta.png' %}" /></a></li>
      </ul><br><br>
          <div class="icons-div">
      <ul class="footer-about">
               <li><a href="/">Home</a></li>
               {% if user.is_authenticated %}
                 <li><a href="account/logout">Logout</a></li>
               {% else %}
                <li><a href="account/login">Login</a></li>
                <li><a href="account/register">Register</a></li>
               {% endif %}
               <li><a href="/about">About</a></li>
               <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</div>
         
</body>
</html>
