<html>
  <head> 
     <title>Home</title>
     <link rel="stylesheet" href="nav.css">
  </head>
<body>
    <nav>
      <img src="images/logo.jpg" height="100px">
        <ul>  
              
               <li><a href="home.html">Home</a></li>
               <li><a href="login.html">Login</a></li>
               <li><a href="register.html">Register</a></li>
               <li><a href="sell.html">Sell</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="contact.html">Contact Us</a></li>
        </ul>
     </nav><br>
               <div class="container">


                  <div class="content">ssaasa
                    </div>
            </div>  
<br><br><br><br><br><br>
<div class="footer">
      <ul class="footer-links">
               <li><a href="https://www.facebook.com/AnimalAidUnlimited"><img class="icons" src="icons/facebook.png" /></a></li>
               <li><a href=""><img class="icons" src="icons/twitter.png" /></a></li>
               <li><a href=""><img class="icons" src="icons/g+.png" /></a></li>
               <li><a href="https://www.youtube.com/channel/UC4kyYTypYb3mQ6ZL25kly6g"><img class="icons" src="icons/youtube.png" /></a></li>
               <li><a href="https://www.instagram.com/animalaid_india/"><img class="icons" src="icons/insta.png" /></a></li>
      </ul><br><br>
          <div class="icons-div">
      <ul class="footer-about">
               <li><a href="home.html">Home</a></li>
               <li><a href="login.html">Login</a></li>
               <li><a href="register.html">Register</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="contact.html">Contact Us</a></li>
    </ul>
  </div>
</div>
</body>
</html>
